{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有名小站</title>
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <link href="{% static 'styles/app.css' %}"  rel="stylesheet" type="text/css" />
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "shared/navbar.html" %}
    <main class="container mx-auto py-8">
      {% include "shared/message.html" %}

      {% block content %}{% endblock %}
    </main>

  </body>
</html>