{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>有名小站</title>
  <script src="{% static 'scripts/app.js' %}" defer></script>
  <link href="{% static 'styles/app.css' %}"  rel="stylesheet" type="text/css" />
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <nav class="bg-black-300 py-4 px-8">
    <ul class="flex gap-4">
      <li><a href="{% url 'pages:home' %}">首頁</a></li>
      <li><a href="{% url 'pages:contact' %}">聯絡</a></li>
      <li><a href="{% url 'pages:about' %}">關於</a></li>
      <li><a href="{% url 'articles:index' %}">文章</a></li>
    </ul>
  </nav>

  <main class="container mx-auto py-8">
    {% include "shared/message.html" %}

    {% block content %}{% endblock %}
  </main>

</body>
</html>