{% extends "layouts/default.html" %}

{% block content %}

<h1>付款：方案 {{ plan|upper }} - {{ price }} 元</h1>
<form action="{% url 'payments:index' %}"
      method="post"
      x-data="braintree_payment_form"
      data-token="{{ token }}"
      @submit.prevent="onSubmit"
      >
  {% csrf_token %}
  <div x-ref="dropin"></div>
  <button :disabled="!ableToSubmit" class="btn btn-success">付款</button>

  <input type="hidden" name="plan" value="{{ plan }}" />
  <input x-model="nonce" type="hidden" name="nonce" />
</form>
{% endblock %}