{% extends "layouts/default.html" %}

{% block content %}
<div class="flex gap-2 items-center">
  <a href="{% url 'articles:edit' article.id %}" class="btn btn-xs btn-success">編輯</a>
  <form action="{% url 'articles:detail' article.id %}" method="post">
    <input type="hidden" name="_method" value="delete" />
    {% csrf_token %}
    <button class="btn btn-xs btn-error">刪除</form>
  </form>
</div>

<h1 class="text-3xl">{{ article.title }}</h1>
<article>
  {{ article.content|linebreaks }}
</article>
<hr />
<h3>留言區</h3>
<form action="{% url 'articles:create_comment' article.id %}" method="post">
  {% csrf_token %}
  <div class="flex flex-col">
    {{ comment_form.content.label_tag }}
    {{ comment_form.content }}
  </div>
  <button class="btn btn-primary">新增</button>
</form>
{% for comment in comments %}
<div class="border p-4 mb-4 rounded">
  <p>{{ comment.content|linebreaks }}</p>
  <div>
    <small class="text-gray-500">{{ comment.created_at }}</small>
    <form action="{% url 'comments:delete' comment.id %}" method="post">
      {% csrf_token %}
      <button class="btn btn-xs btn-error">刪除</button>
    </form>
  </div>
</div>
{% endfor %}


{% endblock %}