{% extends "layouts/default.html" %}

{% block content %}

現在時刻：{% now "jS F Y H:i:s" %}

<div class="flex gap-2 items-center">
  <a href="{% url 'articles:edit' article.id %}" class="btn btn-xs btn-success">編輯</a>
  <form action="{% url 'articles:detail' article.id %}" method="post">
    <input type="hidden" name="_method" value="delete" />
    {% csrf_token %}
    <button class="btn btn-xs btn-error">刪除</form>
  </form>
</div>

<h1 class="text-3xl">Hello, {{ article.title }}</h1>
<article>
  {{ article.content|linebreaks }}
</article>
<hr />
<h3>留言區</h3>

<form hx-post="{% url 'articles:create_comment' article.id %}"
      hx-target="#comments-section"
      hx-swap="afterbegin"
    >
  <div class="flex flex-col">
    {{ comment_form.content.label_tag }}
    {{ comment_form.content }}
  </div>
  <button class="btn btn-primary btn-sm">新增</button>
</form>

<ul id="comments-section" >
{% for comment in comments %}
  {% include "comments/comment.html" with comment=comment %}
{% endfor %}
</ul>

{% endblock %}