{% extends "layouts/default.html" %}

{% block content %}

<h1 class="text-3xl">編輯文章 {{ article.title }}</h1>

<form action="{% url 'articles:detail' article.id %}"
      method="post"
      class="flex flex-col gap-4">
        <input type="hidden" name="_method" value="patch" />

  {% csrf_token %}

  {% for field in form %}
  <div class="flex flex-col">
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <div>
    <button class="btn btn-success">更新文章</button>
  </div>
</form>

{% endblock %}