{% extends "layouts/default.html" %}

{% block content %}
<h1 class="text-3xl">新增文章</h1>

<form action="{% url 'articles:index' %}"
      method="post"
      x-data
      @submit.prevent="confirm('確認新增文章？') && $el.submit()"
      class="flex flex-col gap-4">

  {% csrf_token %}

  {% for field in form %}
  <div class="flex flex-col">
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <!-- <div>
    <input class="checkbox" type="checkbox" name="is_published" {% if article.is_published %}checked{% endif %} /> 發布文章 -->
  <div>
    <button class="btn btn-success">新增文章</button>
  </div>
</form>

{% endblock %}